body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.flexable-section{
    display: flex;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.half-with{
    width: 50%;
    padding-left: 5%;
    margin-bottom: 30px;
}
.half-with p{
    color: dimgray;
    text-align: justify;
}
.half-with img{
    width: 90%;
}
.clr-orng{
    color: orangered;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}
.top-header{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
.s-developer{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 4px;
    margin-bottom: 15px;
}
.s-developer p{
    text-align: justify;
}

.s-border{
    border-left: 9px solid tomato;

}
.j-border{
    border-left: 9px solid #0000FF;
}
footer p{
    text-align: center;
    color: dimgray;

}